<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="form" data-action="{:url('/index/item/addIncome')}">
            <div class="layui-card-body">
                <div class="layui-form-item layui-col-xs12 layui-col-sm12 layui-col-md12" style="margin-top: 10px;">
                    <div class="layui-inline">
                        <label class="layui-form-label">进货日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="进货日期" name="date" type="text" id="date"
                                lay-verify="required" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">进货渠道</label>
                        <div class="layui-input-inline">
                            <select id="channel_id" name="channel_id" class="layui-input">
                                {foreach $channels as $channel}
                                <option value="{$channel.id}">{$channel.data}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-inline">
                        <label class="layui-form-label">型号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="type_id" name="type_id" class="layui-input" value=""
                                data-href="{:url('changeType')}" placeholder="型号不能为空" lay-filter="type_id">
                            <span id="type_message" style="color: brown"></span>
                            <input type="hidden" id="type_status" value="0" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="category_id" id="category_id">
                            <select id="name_id" name="name_id" class="layui-input" lay-filter="name_id">
                                {foreach $names as $name}
                                <option value="{$name.id}" data-category-id="{$name.category_id}" data-appearance="
                                        {foreach $name.itemAppearance as $appearance}
                                            </option>
                                            <option value='{$appearance.id}'>{$appearance.data}</option>
                                        {/foreach}" data-edition="
                                        {foreach $name.itemEdition as $edition}
                                            </option>
                                            <option value='{$edition.id}'>{$edition.data}</option>
                                        {/foreach}" data-feature="
                                        {foreach $name.itemFeature as $feature}
                                            </option>
                                            <option value='{$feature.id}'>{$feature.data}</option>
                                        {/foreach}" data-network="
                                        {foreach $name.itemNetwork as $network}
                                            </option>
                                            <option value='{$network.id}'>{$network.data}</option>
                                        {/foreach}">{$name.data}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-inline">
                        <label class="layui-form-label">网络模式</label>
                        <div class="layui-input-inline">
                            <select id="network_id" class="layui-input" name="network_id" lay-verify="required">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">配置</label>
                        <div class="layui-input-inline">
                            <select id="feature_id" class="layui-input" name="feature_id" lay-verify="required">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-inline">
                        <label class="layui-form-label">外观</label>
                        <div class="layui-input-inline">
                            <select id="appearance_id" class="layui-input" name="appearance_id" lay-verify="required">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">固件版本</label>
                        <div class="layui-input-inline">
                            <select id="edition_id" class="layui-input" name="edition_id" lay-verify="required">
                            </select>
                        </div>
                    </div>
                </div>

            
                <div class="layui-table-body layui-table-main">
                    <table class="layui-table">
                        <thead>
                            <tr class="something ">
                                <th style="width:10%">序号</th>
                                <th style="width:20%">序列号</th>
                                <th style="width:15%">价格</th>
                                <th style="width:20%">备注</th>
                                <th style="width:35%" colspan="2">提示<button type="button" id="add_row"
                                        class="layui-btn-sm layui-btn layui-btn-normal layui-layout-right" onclick="addRow()">增加一行</button>
                                </th>
                            </tr>
                        </thead>

                        <tbody id="table-body">
                        </tbody>
                    </table>
                </div>
                <div class="control-group">
                    <label class="control-label" for="submit"></label>
                    <button class="layui-btn" type="button" id="submit">确认入库</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="data-all" style="display: none">
    {foreach $names as $name}
    <option value="{$name.id}" data-category-id="{$name.category_id}" data-appearance="
            {foreach $name.itemAppearance as $appearance}
                <option value='{$appearance.id}'>{$appearance.data}</option>
            {/foreach}" data-edition="
            {foreach $name.itemEdition as $edition}
                <option value='{$edition.id}'>{$edition.data}</option>
            {/foreach}" data-feature="
            {foreach $name.itemFeature as $feature}
                <option value='{$feature.id}'>{$feature.data}</option>
            {/foreach}" data-network="
            {foreach $name.itemNetwork as $network}
                <option value='{$network.id}'>{$network.data}</option>
            {/foreach}">{$name.data}</option>
    {/foreach}
</div>
<span id='item-id' style="display: none" data-id=""></span>
<script>
    var arr_data = []
    var row_data = { "number": "", "price": "", "memo": "", "number_status": "0", "number_message": "序列号不能为空" }


    layui.use(['laydate', 'form', 'layer', 'jquery'], function () {
        var laydate = layui.laydate;
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
        });


        //监听提交
        // form.on('submit(submit)',
        //     function (data) {
        //         changeNumber();

        //         var number = $("#number").val();
        //         if (number == '') {
        //             // $("#number_message").html('序列号不能为空');
        //         }

        //         var type_status = $("#type_status").val();
        //         var number_status = $("#number_status").val();
        //         if (type_status == 1 && number_status == 1) {
        //             var url = $("#form").data('action');
        //             var data = $('#form').serialize();
        //             $.post(url, data, function (res) {
        //                 console.log(res)
        //                 if (res.code == 200) {
        //                     layer.alert("保存成功", {
        //                         icon: 6
        //                     }, function () {
        //                         //关闭当前frame
        //                         window.layer.close();
        //                         // 可以对父窗口进行刷新 
        //                         window.location.reload();
        //                     })
        //                 } else {
                            // layer.alert(res.data, {
                            //     icon: 5
                            // })
        //                 }
        //             });
        //             return false;
        //         } else {
        //             return false;
        //         }
        //     }
        // );

        addRow();
        changeNameSelected();
        form.on('select(name_id)', changeNameSelected);
        layui.$("#type_id").change(function () {
            changeTypeValue();
        })

        layui.$("#submit").click(function () {

            let type_status = layui.$("#type_status").val();
            let err_str = '';
            if (type_status != 1) {
                err_str += '型号错误;\r\n';
            }

            //判断页面上状态
            layui.$("#table-body").children().each(function (k, v) {
                let temp_row_num = layui.$(v).data('row');
                changeNumber(layui.$("#number-" + temp_row_num));
                if (layui.$("#number_status-" + temp_row_num).val() != 1) {
                    err_str += '序号【' + temp_row_num + '】,msg：' + layui.$("#number_message-" + temp_row_num).html() + '\r\n';
                }
            })
            // console.log(type_status);
            if (err_str == '') {
                layui.$.post(layui.$("#form").attr("action"), layui.$('#form').serialize(), function (res) {
                    var str = '';

                    if (res.code == 200) {
                        str += '成功' + res.data.success.length + '件\r\n';
                        str += '失败' + res.data.field.length + '件\r\n';
                        if (res.data.field.length > 0) {
                            str += '失败信息：\r\n';
                            layui.$.each(res.data.field, function (k, v) {
                                str += '     序号【' + v.index + '】，' + v.msg + '\r\n';
                            });
                        }
                        layer.alert(str, {
                            icon: 6
                        })
                    } else {
                        layer.alert('未知错误', {
                            icon: 5
                        })
                    }
                })
            } else {
                layer.alert(err_str, {
                    icon: 5
                })
                return false;
            }
        })
    });

    function changeNameSelected() {

        var category_id = layui.$("#name_id option:selected").data("category-id");
        layui.$("#category_id").val(category_id);

        var appearance_str = layui.$("#name_id option:selected").data("appearance");
        layui.$("#appearance_id").html(appearance_str)

        var edition_str = layui.$("#name_id option:selected").data("edition");
        layui.$("#edition_id").html(edition_str)

        var feature_str = layui.$("#name_id option:selected").data("feature");
        layui.$("#feature_id").html(feature_str)

        var network_str = layui.$("#name_id option:selected").data("network");
        layui.$("#network_id").html(network_str)
        layui.form.render('select');
    }

    function changeTypeValue() {

        var type = layui.$("#type_id").val();
        var url = layui.$("#type_id").data('href');

        if (type == '') {

            var str = layui.$("#data-all").html();
            layui.$("#name_id").html(str);
            changeNameSelected();
            layui.$("#name_id").removeAttr("readonly");
            layui.$("#name_id").removeAttr("onmousedown");
            layui.$("#network_id").removeAttr("readonly");
            layui.$("#network_id").removeAttr("onmousedown");
            layui.$("#type_message").html('')
            layui.$("#type_status").val(0)
        } else {
            layui.$.get(url, { type: type }, function (res) {

                if (res.code == 500) {
                    alert(res.data);
                    layui.$("#type_message").html(res.data)
                    layui.$("#type_status").val(0)
                } else {

                    var str = '';
                    layui.$.each(res.data, function (k, v) {

                        str += '<option value="' + v.itemName.id + '" data-category-id="' + v.itemName.category_id + '" data-appearance="';
                        layui.$.each(v.itemName.itemAppearance, function (kk, vv) {
                            str += "<option value='" + vv.id + "'>" + vv.data + "</option>";
                        })
                        str += '" data-edition="';
                        layui.$.each(v.itemName.itemEdition, function (kk, vv) {
                            str += "<option value='" + vv.id + "'>" + vv.data + "</option>";
                        })
                        str += '" data-feature="';
                        layui.$.each(v.itemName.itemFeature, function (kk, vv) {
                            str += "<option value='" + vv.id + "'>" + vv.data + "</option>";
                        })
                        str += '" data-network="';
                        str += "<option value='" + v.itemNetwork.id + "'>" + v.itemNetwork.data + "</option>";
                        str += '">' + v.itemName.data + '</option>';
                    });

                    layui.$("#name_id").html(str);
                    changeNameSelected();
                    layui.$("#type_message").html('')
                    layui.$("#type_status").val(1)
                }

                layui.$("#name_id").attr("readonly", "readonly");
                layui.$("#name_id").attr("onmousedown", "return false;");
                layui.$("#network_id").attr("readonly", "readonly");
                layui.$("#network_id").attr("onmousedown", "return false;");
            })
        }
        layui.form.render('select');
    }

    function changeNumber(obj) {
        var val = layui.$(obj).val();
        var url = layui.$(obj).data('href');
        var row_num = layui.$(obj).data('row');

        if (val == '') {

            layui.$("#number_status-" + row_num).val(0);
            layui.$("#number_message-" + row_num).html('序列号不能为空');
        } else {
            let err_msg = '';

            //判断页面上是否重复了
            layui.$("#table-body").children().each(function (k, v) {
                let temp_row_num = layui.$(v).data('row');
                if (layui.$("#number-" + temp_row_num).val() == val && temp_row_num != row_num) {
                    err_msg += '和序号' + temp_row_num + '行重复;';
                }
            })

            //判断数据库是否重复
            layui.$.get(url, { number: val, id: 0 }, function (res) {
                if (res.code != 200 && res.code != 222) {
                    err_msg += res.data + ';';
                } else if (res.code == 222) {
                    var type_id = layui.$("#type_id").val();
                    var name_id = layui.$("#name_id option:selected").val();
                    var network_id = layui.$("#network_id option:selected").val();
                    var feature_id = layui.$("#feature_id option:selected").val();
                    var appearance_id = layui.$("#appearance_id option:selected").val();
                    // console.log(type_id,name_id,network_id,feature_id,appearance_id);
                    if (res.data.type != type_id || res.data.name_id != name_id || res.data.network_id != network_id || res.data.feature_id != feature_id || res.data.appearance_id != appearance_id) {
                        err_msg += '产品属性可能错误';
                    }
                }

                if (err_msg != '') {
                    layui.$("#number_status-" + row_num).val(0);
                    layui.$("#number_message-" + row_num).html(err_msg);
                } else {
                    layui.$("#number_status-" + row_num).val(1);
                    layui.$("#number_message-" + row_num).html('');
                }
            })
        }
        layui.form.render('select');
    }

    function addRow() {

        arr_data = [];

        layui.$("#table-body").children().each(function (k, v) {
            row_num = layui.$(v).data('row')

            temp_data = {
                "number": layui.$("#number-" + row_num).val(),
                "price": layui.$("#price-" + row_num).val(),
                "memo": layui.$("#memo-" + row_num).val(),
                "number_status": layui.$("#number_status-" + row_num).val(),
                "number_message": layui.$("#number_message-" + row_num).html(),
            }
            arr_data.push(temp_data)
        })

        arr_data.push(row_data);

        var body_str = '';

        for (var i = 0; i < arr_data.length; i++) {

            body_str += '<tr id="row-' + (i + 1) + '" data-row="' + (i + 1) + '">';
            body_str += '<td>' + (i + 1) + '</td>';
            body_str += '<td>';
            body_str += '<input type="text" id="number-' + (i + 1) + '" data-row="' + (i + 1) + '" name="number[' + (i + 1) + ']" class="number layui-input" value="' + arr_data[i].number + '"  data-href="checkNumber" data-href2="checkIntelligence">';
            body_str += '<input type="hidden" id="number_status-' + (i + 1) + '" value="' + arr_data[i].number_status + '"/>';
            body_str += '</td>';
            body_str += '<td>';
            body_str += '<input type="text" id="price-' + (i + 1) + '" name="price[' + (i + 1) + ']" class="price layui-input" value="' + arr_data[i].price + '">';
            body_str += '</td>';
            body_str += '<td>';
            body_str += '<textarea name="memo[' + (i + 1) + ']" id="memo-' + (i + 1) + '" class="memo layui-input" rows="1">' + arr_data[i].memo + '</textarea>';
            body_str += '</td>';
            body_str += '<td  colspan="2"><span id="number_message-' + (i + 1) + '" style="color: red">' + arr_data[i].number_message + '</span></td>';
            body_str += '</tr>';
        }
        layui.$("#table-body").html(body_str);

        layui.$(".number").on("change", function () {
            changeNumber(this);
        });
    }

</script>