
<div class="row">

    <div class="">
        <div class="span12">

            <form class="form-inline" method="get">
                <select class="span2" name="user_id">
                    <option value=""> - 入库人 - </option>
                    {foreach $users as $user}
                    <option value="{$user.id}" {$Think.get.user_id==$user.id ? 'selected' :''}>{$user.username}</opion>
                    {/foreach}
                </select>
                <label class="control-label" for="date">进货日期</label>
                <input type="text" class="input-xlarge span2" id="date"  name="date" value="" data-val="{$Think.get.date}" autocomplete="off">
                <select class="span2" name="name_id">
                    <option value=""> - 名称 - </option>
                    {foreach $names as $name}
                    <option value="{$name.id}" {$Think.get.name_id==$name.id ? 'selected' :''}>{$name.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="channel_id">
                    <option value=""> - 进货渠道 - </option>
                    {foreach $channels as $channel}
                    <option value="{$channel.id}" {$Think.get.channel_id==$channel.id ? 'selected' :''}>{$channel.data}</option>
                    {/foreach}
                </select>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
  
        <div class="span12">
            <table class="orders-table table">
                <thead>
                <tr>
                    <th>⊙</th>
                    <th>编号</th>
                    <th>入库类型</th>
                    <th>型号</th>
                    <th>名称</th>
                    <th>网络模式</th>
                    <th>配置</th>
                    <th>外观</th>
                    <th>序列号</th>
                    <th>固件版本</th>
                    <th>备注</th>
                    <th>进货价格</th>
                    <th>进货渠道</th>
                    <th>入库人</th>
                    <th>入库时间</th>
                    <th class="actions">操作</th>
                </tr>
                </thead>
                <tbody>

                {volist name='lists' id='temp'}
                <tr>
                    <td><input type="checkbox" class="checkbox-checked" data-id="{$temp.id}"  /></td>
                     <th title="商品ID:{$temp.item.id}" ><span>{$temp.id}</span></th>
                    <td><span>{$temp.typeName}</span></td>
                    <th><span>{$temp.item.itemType.data}</span></th>
                    <th><span>{$temp.item.itemName.data}</span></th>
                    <th><span>{$temp.item.itemNetwork.data}</span></th>
                    <th><span>{$temp.item.itemFeature.data}</span></th>
                    <th><span>{$temp.item.itemAppearance.data}</span></th>
                  
                   <th><a href="https://checkcoverage.apple.com/cn/zh/?sn={$temp.item.number}" target="_blank"><span>{$temp.item.number}</span></a></th>
                    <th><span>{$temp.item.itemEdition.data}</span></th>
                   <!--<th><span>{$temp.item.memo}</span></th>-->
                   <th title="{$temp.item.memo}" style="cursor: pointer"><span><?php echo mb_strlen($temp->item->memo) > 6 ? mb_substr($temp->item->memo, 0, 6).'…' : $temp->item->memo; ?></span></th>
                    <th><span>{$temp.item.price}</span></th>
                    <th><span>{$temp.item.itemChannel.data}</span></th>
                    <td><span>{$temp.createUser.username}</span></td>
                    <td><span>{$temp.create_time}</span></td>
                    <td class="actions">
                        <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>-->
                        <a class="btn btn-small btn-success allow-item" data-id="{$temp.id}" data-value="1" data-href="{:url('allowAgree')}">通过</a>
                        <a class="btn btn-small btn-danger reject-item" data-id="{$temp.id}" data-value="0" data-href="{:url('rejectAgree')}">拒绝</a>
                    </td>
                </tr>
                {/volist}
                <tr>
                   
                  　<td colspan="2"><label style="cursor: pointer"><input type="checkbox" id="checkbox-all"  />　全选</label> </td>
                    <td colspan="14">共{$count}记录 ， 共{$total}金额</td>
                </tr>
                <tr>
                    <td colspan="15">
                            <a class="btn btn-small btn-success " id="allow-all" data-href="{:url('allowAgree')}">批量通过</a>
                            <a class="btn btn-small btn-danger" id="reject-all" data-href="{:url('rejectAgree')}">批量拒绝</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            {$lists->render()}
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function(){

        $(".allow-item, .reject-item").click(function(){
            var url = $(this).data('href');
            var id = $(this).data('id');
            $.post(url, {id:id}, function (res) {
                alert(res.data);
                window.location.replace("<?php echo url('incomeAgree');?>");
            })
        })

        $("#checkbox-all").click(function(){

            var all_checked = 1;

            $(".checkbox-checked").each(function(k, v){
              
                if ($(v).prop('checked') == false){
                    all_checked = 0;
                }
            })
            
            if (all_checked == 1) {
                $(".checkbox-checked").each(function(k, v){
                    $(v).prop('checked', false)
                })
                $("#checkbox-all").prop('checked', false)
            } else {
                $(".checkbox-checked").each(function(k, v){
                    $(v).prop('checked', true)
                })
                $("#checkbox-all").prop('checked', true)
            }
        });

        $("#allow-all").click(function(){

            var url = $(this).data('href');
            var arr = new Array();
            $(".checkbox-checked").each(function(k, v){
                if ($(v).prop('checked') == true){
                    arr. push($(v).data('id'));
                }
            })

            if (arr.length > 0) {
                $.post(url, {id:arr}, function(res) {
                        alert(res.data)
                        window.location.replace("<?php echo url('incomeAgree');?>");
                })
            }
        })

        $("#reject-all").click(function(){

            var url = $(this).data('href');
            var arr = new Array();
            $(".checkbox-checked").each(function(k, v){
                if ($(v).prop('checked') == true){
                    arr. push($(v).data('id'));
                }
            })

            if (arr.length > 0) {
                $.post(url, {id:arr}, function(res) {
                    alert(res.data)
                    window.location.replace("<?php echo url('incomeAgree');?>");
                })
            }
        })

        $.datepicker.regional['zh-CN'] = {
            closeText: '关闭',
            prevText: '<上月',
            nextText: '下月>',
            currentText: '今天',
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthNamesShort: ['一', '二', '三', '四', '五', '六',
                '七', '八', '九', '十', '十一', '十二'],
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            weekHeader: '周',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '年'
        };

        $.datepicker.setDefaults( $.datepicker.regional[ "zh-CN" ] );

        $("#date").datepicker({
            dateFormat: "yy-mm-dd",
            todayHighlight: false,
            minDate: "-3600D",
            maxDate: "+0D"
        });

        var date_val = $("#date").data('val');
        if (date_val != '') {
            $('#date').datepicker("setDate", date_val);
        } else {
            $('#date').datepicker("setDate", '+0D');
        }

    })
</script>