
<div class="row">

    <div class="">
        <div class="span12">

            <form class="form-inline" method="get">
                <select class="span2" name="type_id">
                    <option value=""> - 型号 - </option>
                    {foreach $types as $type}
                    <option value="{$type.data}" {$Think.get.type_id==$type.data ? 'selected' :''}>{$type.data}</opion>
                    {/foreach}
                </select>
                <span id="data-all" style="display:none">{$data|json_encode}</span>
                <select class="span2" name="name_id" id='name_id'   data-href="{:url('changeName')}">
                    <option value=""> - 名称 - </option>
                    {foreach $names as $name}
                    <option value="{$name.data}" {$Think.get.name_id==$name.data ? 'selected' :''}>{$name.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="network_id" id='network_id'>
                    <option value=""> - 网络模式 - </option>
                    {foreach $networks as $network}
                    <option value="{$network.data}" {$Think.get.network_id==$network.data ? 'selected' :''}>{$network.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="feature_id" id='feature_id'>
                    <option value=""> - 配置 - </option>
                    {foreach $features as $feature}
                    <option value="{$feature.data}" {$Think.get.feature_id==$feature.data ? 'selected' :''}>{$feature.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="appearance_id" id='appearance_id'>
                    <option value=""> - 外观 - </option>
                    {foreach $appearances as $appearance}
                    <option value="{$appearance.data}" {$Think.get.appearance_id==$appearance.data ? 'selected' :''}>{$appearance.data}</option>
                    {/foreach}
                </select>
                <input type="text" class="input-large span2" name="keyword" placeholder="序列号" value="{$Think.get.keyword}">
                <select name="is_prepare" class="span1">
                        <option value="">- 预售- </option>
                        <option value="1" {$Think.get.is_prepare==1 ? 'selected' :''}>-  是 - </option>
                        <option value="0" {$Think.get.is_prepare==0 ? 'selected' :''}>-  否 - </option>
                </select>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>

        </div>

        <div class="row">

            <div class="span12 listing-buttons">

                <!--<button class="btn btn-info">Action</button>-->

                <!--<button class="btn btn-success">Action</button>-->

                <!--<button class="btn btn-primary"  data-toggle="modal" href="#addItem" >录入</button>-->

            </div>

            <div class="span12">

                <!--<div class="page-header">-->
                <!--<div class="btn-group pull-right">-->
                <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="icon-download-alt"></i> Export-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="">CSV</a></li>-->
                <!--<li><a href="">Excel</a></li>-->
                <!--<li><a href="">PDF</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<h2>Listings</h2>-->
                <!--</div>-->
                <h4 class="span12">总条数：{$lists->total()}</h4>
                <table class="orders-table table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>入库时间</th>
                        <th>型号</th>
                        <th>分类</th>
                        <th>名称</th>
                        <th>网络模式</th>
                        <th>配置</th>
                        <th>外观</th>
                        <th>序列号</th>
                        <th>固件版本</th>
                        <th>备注</th>
                        <th>进货价格</th>
                        <th>进货渠道</th>
                        <th>状态</th>
                        <th class="actions">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-info">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-warning">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-important">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-inverse">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-success">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->

                    {volist name='lists' id='temp'}
                    <tr>
                        <td><span>{$temp.id}</span></td>
                        <th><span>{$temp.date}</span></th>
                        <th><span>{$temp.itemType.data}</span></th>
                        <th><span>{$temp.itemCategory.data}</span></th>
                        <th><span>{$temp.itemName.data}</span></th>
                        <th><span>{$temp.itemNetwork.data}</span></th>
                        <th><span>{$temp.itemFeature.data}</span></th>
                        <th><span>{$temp.itemAppearance.data}</span></th>
                        <th><span>{$temp.number}</span></th>
                        <th><span>{$temp.itemEdition.data}</span></th>
                        <th title="{$temp.memo}" style="cursor: pointer"><span><?php echo mb_strlen($temp->memo) > 10 ? mb_substr($temp->memo, 0, 10).'…' : $temp->memo; ?></span></th>
                        <th><span>{$temp.price}</span></th>
                        <th><span>{$temp.itemChannel.data}</span></th>
                        <th title="{$temp.prepare}" style="cursor: pointer"><span>{$temp.statusName}</span></th>
                        <td class="actions">
                            <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>-->
                            <?php if(in_array($temp->status, [2,8])){?>
                            <a class="btn btn-small btn-success add-outgo" data-toggle="modal" href="#addOutgo" data-id="{$temp.id}">出库</a>
                            <!--<a class="btn btn-small btn-danger reject-item" data-id="{$temp.id}" data-value="0" data-href="{:url('rejectAgree')}">拒绝</a>-->
                            <?php }?>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                {$lists->render()}
            </div>
        </div>

        <div class="modal hide fade" id="addOutgo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>出库</h3>
            </div>
            <form class="form-horizontal" method="post" id="form" data-action="{:url('addOutgo')}">
                <fieldset>
                    <div class="modal-body">
                        <input type="hidden" name="item_id" id="item_id" />
                        <div class="control-group">
                            <label class="control-label" for="channel_id">出货途径</label>
                            <div class="controls">
                                <select id="channel_id" class="input-xlarge" name="channel_id">
                                        <option value="0"> - 请选择 - </option>
                                    {foreach $channels as $channel}
                                    <option value="{$channel.id}">{$channel.data}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="order_no">订单号</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="order_no" name="order_no" value="" placeholder="必填项">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="price">销售价格</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="price" name="price" value=""  placeholder="必填项">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cost">营销成本</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="cost" name="cost" value=""  placeholder="必填项">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_nickname">收货人昵称</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_nickname" name="consignee_nickname" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee">收货人</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee" name="consignee" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_address">收货人地址</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_address" name="consignee_address" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_phone">收货人手机号</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_phone" name="consignee_phone" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="memo">订单备注</label>
                            <div class="controls">
                                <textarea class="input-xlarge" name="memo" id="memo" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">关闭</a>
                        <button class="btn btn-success" type="button" id="submit">确定</button>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function(){
        $(".add-outgo").click(function () {
            var id = $(this).data('id');
            $("#item_id").val(id);
        });

        $("#submit").click(function(){
            var url = $("#form").data('action');
            var data = $('#form').serialize();
            $.post(url, data, function (res) {
                alert(res.data);
                if (res.code == 200) {
                    window.location.replace("<?php echo url('outgo');?>");
                }
            })
        });

        $("#name_id").change(function(){
            var val = $(this).val();
            var data;
            if (val != '') {

                var url = $(this).data('href');

                var name = $(this).val();
                $.get(url, {name:name}, function(res){
                    data = res.data;
                    reset(data);
                })
            } else {
                data = jQuery.parseJSON($("#data-all").html());
                reset(data);
            }
        }); 

        // changeNameSelected();
    })

    function reset(data){
        var features_str = '<option value=""> - 配置 - </option>';
        $.each(data.features,function(k,v){
            features_str += '<option value="'+v.data+'"> '+v.data+' </option>';
        })

        var networks_str = '<option value=""> - 网络模式 - </option>';
        $.each(data.networks,function(k,v){
            networks_str += '<option value="'+v.data+'"> '+v.data+' </option>';
        })

        var appearances_str = '<option value=""> - 外观 - </option>';
        $.each(data.appearances,function(k,v){
            appearances_str += '<option value="'+v.data+'"> '+v.data+' </option>';
        })

        $('#feature_id').html(features_str);
        $('#network_id').html(networks_str);
        $('#appearance_id').html(appearances_str);
    }
    function changeNameSelected(){

        var appearance_str = $("#name_id option:selected").data("appearance");
        $("#appearance_id").html(appearance_str)

        var feature_str = $("#name_id option:selected").data("feature");
        $("#feature_id").html(feature_str)

        var network_str = $("#name_id option:selected").data("network");
        $("#network_id").html(network_str)
    }

</script>