
<!--<div class="row">-->

<!--<div class="span10">-->

<!--<div class="">-->

<!--<form class="form-inline">-->
<!--<input type="text" class="input-large" placeholder="Keyword...">-->
<!--<select class="span2">-->
<!--<option value=""> - From Date - </option>-->
<!--</select>-->
<!--<select class="span2">-->
<!--<option value=""> - To Date - </option>-->
<!--</select>-->
<!--<select class="span2">-->
<!--<option value=""> - Filter - </option>-->
<!--</select>-->
<!--<button type="submit" class="btn btn-primary">Filter Listings</button>-->
<!--</form>-->

<!--</div>-->

<!--</div>-->

<div class="row">
    <div class="">
                  
        <div class="span12">

            <form class="form-inline" method="get">
                <label class="control-label" for="date">出库日期</label>
                <input type="text" class="input-xlarge span2" id="date"  name="date" value="" data-val="{$Think.get.date}" autocomplete="off">
                <select class="span2" name="channel_id">
                    <option value=""> - 出库渠道 - </option>
                    {foreach $channels as $channel}
                    <option value="{$channel.id}" {$Think.get.channel_id==$channel.id ? 'selected' :''}>{$channel.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="name_id">
                    <option value=""> - 名称 - </option>
                    {foreach $names as $name}
                    <option value="{$name.id}" {$Think.get.name_id==$name.id ? 'selected' :''}>{$name.data}</option>
                    {/foreach}
                </select>
                <input type="text" class="input-large" name="keyword" placeholder="序列号/订单号/收货人昵称" value="{$Think.get.keyword}">
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
        <div class="span12">

            <!--<div class="page-header">-->
            <!--<div class="btn-group pull-right">-->
            <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="icon-download-alt"></i> Export-->
            <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="">CSV</a></li>-->
            <!--<li><a href="">Excel</a></li>-->
            <!--<li><a href="">PDF</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<h2>Listings</h2>-->
            <!--</div>-->
              <!-- <h4 class="span12">总条数：{$lists->total()}</h4>-->
            <table class="orders-table table">
                <thead>
                <tr>
                   <th>⊙</th>
                    <th>编号</th>
                    <th>产品名称</th>
                    <th>【配置】</th>
                    <th>【网络模式】</th>
                    <th>外观</th>
                    <th>【唯一序列号】</th>
                      <th>备注</th>
                     <th>版本</th>
                    <!-- <th>进货价格</th>-->
				 <!-- <th>营销成本</th>-->
				<th>售价</th>
                    <th>毛利</th>
                    <th>出货渠道</th>
                    <th>出库人</th>
                    <th>出库时间</th>
                    <th>订单号</th>
                  <!--   <th>收货人昵称</th> -->
                    <th class="actions">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-info">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-warning">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-important">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-inverse">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-success">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->

                {volist name='lists' id='temp'}
                <tr>
                   <td><input type="checkbox" class="checkbox-checked" data-id="{$temp.id}"  /></td>
                
                    <th title="商品ID:{$temp.item.id}" ><span>{$temp.id}</span></th>
                    <th><span>{$temp.item.itemName.data}</span></th>
                    <th><span>{$temp.item.itemFeature.data}</span></th>                 
                   <th><span>{$temp.item.itemNetwork.data}</span></th>              
                    <th><span>{$temp.item.itemAppearance.data}</span></th>

                     <!-- <th><a href="https://checkcoverage.apple.com/cn/zh/?sn={$temp.item.number}" target="_blank"><span>{$temp.item.number}</span></a></th>-->  
                     <th><a href="{:url('item/history',['item_id'=>$temp.item.id])}" target="_blank"><span>{$temp.item.number}</span></a></th>
              <!--<th><span>{$temp.item.itemEdition.data}</span></th>-->  

                     
                     <th title="{$temp.item.memo}" style="cursor: pointer"><span><?php echo mb_strlen($temp->item->memo) > 6 ? mb_substr($temp->item->memo, 0, 6).'…' : $temp->item->memo; ?></span></th>
     			   <!-- <th><span>{$temp.item.price * 1}</span></th>-->  
                    <!-- <th><span>{$temp.cost * 1}</span></th>-->  
                        <th><span>{$temp.item.itemEdition.data}</span></th>               
                      <!-- <th><span>{$temp.price * 1}</span></th>-->  
                      <th title="成本{$temp.item.price * 1}+{$temp.cost * 1}" style="cursor: pointer"><span>{$temp.price * 1}</span></th>
                  
                    <th><span>{$temp.price * 1 - $temp.item.price * 1 - $temp.cost * 1}</span></th>
                     <th title="{$temp.memo}" style="cursor: pointer"><span>{$temp.itemChannel.data}</span></th>
                    <td><span>{$temp.createUser.username}</span></td>
                      <td><span>{$temp.createTime}</span></td>
                  
                  
                    <!--   <td><span>{$temp.order_no}</span></td>-->  
                 <th title="买家昵称({$temp.consignee_nickname})" style="cursor: pointer"><span>{$temp.order_no}</span></th>        
                  
                  
                        <!-- <td><span>{$temp.consignee_nickname}</span></td> -->
                    <td class="actions">
                        <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>-->
                        <a class="btn btn-small btn-success allow-item" data-id="{$temp.id}" data-value="1" data-href="{:url('allowOutgoAgree')}">通过</a>
                        <a class="btn btn-small btn-danger reject-item" data-id="{$temp.id}" data-value="0" data-href="{:url('rejectOutgoAgree')}">拒绝</a>
                    </td>
                </tr>
                {/volist}
                <tr>
                    <td colspan="2"><label style="cursor: pointer"><input type="checkbox" id="checkbox-all"  />　全选</label> </td>
                    <td colspan="14">共{$lists->total()}记录 ， 共?金额</td>
                </tr>
                <tr>
                    <td colspan="15">
                        <a class="btn btn-small btn-success " id="allow-all" data-href="{:url('allowOutgoAgree')}">【出库】批量通过</a>
                        <a class="btn btn-small btn-danger" id="reject-all" data-href="{:url('rejectOutgoAgree')}">【出库】批量拒绝</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            {$lists->render()}
        </div>
    </div>

    <!--<div class="span5">-->

    <!--<div class="pagination pull-left">-->
    <!--<ul>-->
    <!--<li><a href="#">Prev</a></li>-->
    <!--<li class="active">-->
    <!--<a href="#">1</a>-->
    <!--</li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">Next</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="span5 listing-buttons pull-right">-->

    <!--<button class="btn btn-info">Action</button>-->

    <!--<button class="btn btn-success">Action</button>-->

    <!--<button class="btn btn-primary">Add New Item</button>-->

    <!--</div>-->

</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function(){
        $(".allow-item, .reject-item").click(function(){
            var url = $(this).data('href');
            var id = $(this).data('id');
            $.post(url, {id:id}, function (res) {
                alert(res.data);
                window.location.replace("<?php echo url('outgoAgree');?>");
            })
        })

        $("#checkbox-all").click(function(){

            var all_checked = 1;
            $(".checkbox-checked").each(function(k, v){
            
                if ($(v).prop('checked') == false){
                    all_checked = 0;
                }
            })

            if (all_checked == 1) {
                $(".checkbox-checked").each(function(k, v){
                    $(v).prop('checked', false)
                })
                $("#checkbox-all").prop('checked', false)
            } else {
                $(".checkbox-checked").each(function(k, v){
                    $(v).prop('checked', true)
                })
                $("#checkbox-all").prop('checked', true)
            }
        });

        $("#allow-all").click(function(){

            var url = $(this).data('href');
            var arr = new Array();
            $(".checkbox-checked").each(function(k, v){
                if ($(v).prop('checked') == true){
                    arr. push($(v).data('id'));
                }
            })

            if (arr.length > 0) {
                $.post(url, {id:arr}, function(res) {
                        alert(res.data)
                        window.location.replace("<?php echo url('outgoAgree');?>");
                })
            }
        })

        $("#reject-all").click(function(){

            var url = $(this).data('href');
            var arr = new Array();
            $(".checkbox-checked").each(function(k, v){
                if ($(v).prop('checked') == true){
                    arr. push($(v).data('id'));
                }
            })

            if (arr.length > 0) {
                $.post(url, {id:arr}, function(res) {
                    alert(res.data)
                    window.location.replace("<?php echo url('outgoAgree');?>");
                })
            }
        })


        $.datepicker.regional['zh-CN'] = {
            closeText: '关闭',
            prevText: '<上月',
            nextText: '下月>',
            currentText: '今天',
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthNamesShort: ['一', '二', '三', '四', '五', '六',
                '七', '八', '九', '十', '十一', '十二'],
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            weekHeader: '周',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '年'
        };

        $.datepicker.setDefaults( $.datepicker.regional[ "zh-CN" ] );

        $("#date").datepicker({
            dateFormat: "yy-mm-dd",
            todayHighlight: false,
            minDate: "-3600D",
            maxDate: "+0D"
        });

        var date_val = $("#date").data('val');
        if (date_val != '') {
            $('#date').datepicker("setDate", date_val);
        }
    })

    
</script>
