
<div class="row">

    <div class="">
        <div class="span12">

            <form class="form-inline" method="get">
                <select class="span2" name="type_id">
                    <option value="0"> - 型号 - </option>
                    {foreach $types as $type}
                    <option value="{$type.id}" 
                    {$Think.get.type_id==$type.id ? 'selected' :''}>{$type.data}</opion>
                    {/foreach}
                </select>
                <select class="span2" name="name_id" id="name_id">
                    <option value="0" data-appearance="
                    <option value='0'> - 外观 - </option>
                    {foreach $appearances as $appearance}
                        <?php if(isset($_GET['appearance_id']) && $_GET['appearance_id'] == $appearance->id){echo 'selected';}?></option>
                        <option value='{$appearance.id}'>{$appearance.data}</option>
                    {/foreach}"  data-feature="
                    <option value='0'> - 配置 - </option>
                    {foreach $features as $feature}
                        <?php if(isset($_GET['feature_id']) && $_GET['feature_id'] == $feature->id){echo 'selected';}?></option>
                        <option value='{$feature.id}'>{$feature.data}</option>
                    {/foreach}"> - 名称 - </option>
                    {foreach $names as $name}
                    <option value="{$name.id}"   data-appearance="
                    <option value='0'> - 外观 - </option>
                    {foreach $name.itemAppearance as $appearance}
                        <?php if(isset($_GET['appearance_id']) && $_GET['appearance_id'] == $appearance->id){echo 'selected';}?></option>
                        <option value='{$appearance.id}'>{$appearance.data}</option>
                    {/foreach}"  data-feature="
                    <option value='0'> - 配置 - </option>
                    {foreach $name.itemFeature as $feature}
                        <?php if(isset($_GET['feature_id']) && $_GET['feature_id'] == $feature->id){echo 'selected';}?></option>
                        <option value='{$feature.id}'>{$feature.data}</option>
                    {/foreach}"
                    {$Think.get.name_id==$name.id ? 'selected' :''}>{$name.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="feature_id" id="feature_id">
                    <option value="0"> - 配置 - </option>
                    {foreach $features as $feature}
                    <option value="{$feature.id}" {$Think.get.feature_id==$feature.id ? 'selected' :''}>{$feature.data}</option>
                    {/foreach}
                </select>
                <select class="span2" name="appearance_id" id="appearance_id">
                    <option value="0"> - 外观 - </option>
                    {foreach $appearances as $appearance}
                    <option value="{$appearance.id}" {$Think.get.appearance_id==$appearance.id ? 'selected' :''}>{$appearance.data}</option>
                    {/foreach}
                </select>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>

        </div>

        <div class="row">

            <div class="span12 listing-buttons">

                <!--<button class="btn btn-info">Action</button>-->

                <!--<button class="btn btn-success">Action</button>-->

                <!--<button class="btn btn-primary"  data-toggle="modal" href="#addItem" >录入</button>-->

            </div>

            <div class="span12">

                <!--<div class="page-header">-->
                <!--<div class="btn-group pull-right">-->
                <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="icon-download-alt"></i> Export-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="">CSV</a></li>-->
                <!--<li><a href="">Excel</a></li>-->
                <!--<li><a href="">PDF</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<h2>Listings</h2>-->
                <!--</div>-->
                <h4 class="span12">总条数：{$lists->total()}</h4>
                <table class="orders-table table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>入库时间</th>
                        <th>型号</th>
                        <th>分类</th>
                        <th>名称</th>
                        <th>配置</th>
                        <th>外观</th>
                        <th>序列号</th>
                        <th>固件版本</th>
                        <th>备注</th>
                        <th>进货价格</th>
                        <th>进货渠道</th>
                        <th>状态</th>
                        <th class="actions">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-info">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-warning">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-important">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-inverse">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label label-success">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td><a href="form.html">Listing title</a> <span class="label">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                    <!--<td class="actions">-->
                    <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                    <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                    <!--</td>-->
                    <!--</tr>-->

                    {volist name='lists' id='temp'}
                    <tr>
                        <td><span>{$temp.id}</span></td>
                        <th><span>{$temp.date}</span></th>
                        <th><span>{$temp.itemType.data}</span></th>
                        <th><span>{$temp.itemCategory.data}</span></th>
                        <th><span>{$temp.itemName.data}</span></th>
                        <th><span>{$temp.itemFeature.data}</span></th>
                        <th><span>{$temp.itemAppearance.data}</span></th>
                        <th><span>{$temp.number}</span></th>
                        <th><span>{$temp.itemEdition.data}</span></th>
                        <th><span>{$temp.memo}</span></th>
                        <th><span>{$temp.price}</span></th>
                        <th><span>{$temp.itemChannel.data}</span></th>
                        <th><span>{$temp.statusName}</span></th>
                        <td class="actions">
                            <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>-->
                            {if condition="$temp.status == 2"}
                            <a class="btn btn-small btn-warning add-outgo" data-toggle="modal" data-href="{:url('addSpecialOutgo')}" data-id="{$temp.id}" data-type="4">维修</a>
                            <a class="btn btn-small btn-danger add-outgo" data-toggle="modal"  data-href="{:url('addSpecialOutgo')}" data-id="{$temp.id}" data-type="5">丢失</a>
                            <!--<a class="btn btn-small btn-danger reject-item" data-id="{$temp.id}" data-value="0" data-href="{:url('rejectAgree')}">拒绝</a>-->
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div>
                {$lists->render()}
            </div>
        </div>

        <!-- <div class="modal hide fade" id="addOutgo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>出库</h3>
            </div>
            <form class="form-horizontal" method="post" id="form" data-action="{:url('addOutgo')}">
                <fieldset>
                    <div class="modal-body">
                        <input type="hidden" name="item_id" id="item_id" />
                        <div class="control-group">
                            <label class="control-label" for="channel_id">出货途径</label>
                            <div class="controls">
                                <select id="channel_id" class="input-xlarge" name="channel_id">
                                        <option value="0"> - 请选择 - </option>
                                    {foreach $channels as $channel}
                                    <option value="{$channel.id}">{$channel.data}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="order_no">订单号</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="order_no" name="order_no" value="" placeholder="必填项">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="price">销售价格</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="price" name="price" value=""  placeholder="必填项">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_nickname">收货人昵称</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_nickname" name="consignee_nickname" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee">收货人</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee" name="consignee" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_address">收货人地址</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_address" name="consignee_address" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="consignee_phone">收货人手机号</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="consignee_phone" name="consignee_phone" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="memo">订单备注</label>
                            <div class="controls">
                                <textarea class="input-xlarge" name="memo" id="memo" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">关闭</a>
                        <button class="btn btn-success" type="button" id="submit">确定</button>
                    </div>
                </fieldset>
            </form>
        </div> -->

    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function(){
        // $(".add-outgo").click(function () {
        //     var id = $(this).data('id');
        //     $("#item_id").val(id);
        // });

        $("#submit").click(function(){
            var url = $("#form").data('action');
            var data = $('#form').serialize();
            $.post(url, data, function (res) {
                alert(res.data);
                if (res.code == 200) {
                    window.location.replace("<?php echo url('specialOutgo');?>");
                }
            })
        });

        $(".add-outgo").click(function(){
            var id = $(this).data('id')
            var url = $(this).data('href')
            var type = $(this).data('type')
            $.post(url, {item_id:id,type:type}, function(res){
                alert(res.data);
                window.location.replace("<?php echo url('specialOutgo');?>");
            })
        })


        $("#name_id").change(function () {
            changeNameSelected();
        });

        changeNameSelected();
    })

    function changeNameSelected(){

        var appearance_str = $("#name_id option:selected").data("appearance");
        $("#appearance_id").html(appearance_str)

        var feature_str = $("#name_id option:selected").data("feature");
        $("#feature_id").html(feature_str)
    }
</script>