

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">30天统计图</div>
          <div class="layui-card-body" style="height: 600px;">
            <div  style="height: 600px;" class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-heaparea">
              <div  style="height: 600px;" carousel-item id="LAY-index-heaparea" >
                <div  style="height: 600px;"><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span id="data_date" style="display: none"><?php echo implode(',',$date);?></span>
  <span id="data_income_amount" style="display: none"><?php echo implode(',',$income_amount);?></span>
  <span id="data_income_num" style="display: none"><?php echo implode(',',$income_num);?></span>
  <span id="data_outgo_amount" style="display: none"><?php echo implode(',',$outgo_amount);?></span>
  <span id="data_outgo_num" style="display: none"><?php echo implode(',',$outgo_num);?></span>
  <span id="data_return_amount" style="display: none"><?php echo implode(',',$return_amount);?></span>
  <span id="data_return_num" style="display: none"><?php echo implode(',',$return_num);?></span>

  <script>
    layui.config({
        base: '/static/lib/layuiadmin/' //静态资源所在路径
    }).use(['index', 'admin', 'carousel', 'echarts'], function(){

        var e = layui.$,
        a = (layui.admin, layui.carousel),
        t = layui.element,
        i = layui.device();

        var data_date = e("#data_date").html().split(',');
        var data_income_amount = e("#data_income_amount").html().split(',');
        var data_income_num = e("#data_income_num").html().split(',');
        var data_outgo_amount = e("#data_outgo_amount").html().split(',');
        var data_outgo_num = e("#data_outgo_num").html().split(',');
        var data_return_amount = e("#data_return_amount").html().split(',');
        var data_return_num = e("#data_return_num").html().split(',');


        e(".layadmin-carousel").each(function() {
            var t = e(this);
            a.render({
                elem: this,
                width: "100%",
                height: "auto",
                arrow: "none",
                interval: t.data("interval"),
                autoplay: t.data("autoplay") === !0,
                trigger: i.ios || i.android ? "click": "hover",
                anim: t.data("anim")
            })
        }),
        t.render("progress");

        var e = layui.$,
        a = (layui.carousel, layui.echarts),
        u = [],
        x = [{
            title: {
                text: '近30天出入库'
            },
            tooltip: {
                trigger: "axis"
            },
            legend: {
                data: ['入库金额','入库件数','出库金额','出库件数', '退货金额', '退货件数']
            },
            calculable: !0,
            xAxis: [{
                type: "category",
                boundaryGap: !1,
                data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            }],
            yAxis: [{
                type: "value"
            }],
            series: [
                {
                    name:'入库金额',
                    type:'line',
                    stack: '总量',
                    data:data_income_amount
                },
                {
                    name:'入库件数',
                    type:'line',
                    stack: '总量',
                    data:data_income_num
                },
                {
                    name:'出库金额',
                    type:'line',
                    stack: '总量',
                    data:data_outgo_amount
                },
                {
                    name:'出库件数',
                    type:'line',
                    stack: '总量',
                    data:data_outgo_num
                },
                {
                    name:'退货金额',
                    type:'line',
                    stack: '总量',
                    data:data_return_amount
                },
                {
                    name:'退货件数',
                    type:'line',
                    stack: '总量',
                    data:data_return_num
                }
            ]
        }],
        v = e("#LAY-index-heaparea").children("div"),
        b = function(e) {
            u[e] = a.init(v[e], layui.echartsTheme),
            u[e].setOption(x[e]),
            window.onresize = u[e].resize
        };
        if (v[0]) {
            b(0);
        }
        
    });

  </script>