
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">筛选条件</div>
          <form class="layui-form" method="get">
            <div class="layui-card-body" style="height: 600px;">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="开始日期" name="start_date" type="text" id="start_date" value="{$Think.get.start_date}"
                             autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">结束日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="结束日期" name="end_date" type="text" id="end_date" value="{$Think.get.end_date}"
                             autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-inline">
                            <select id="name_id" class="" name="name_id" lay-filter="name_id">
                                <option value="0"> -  - </option>
                                {foreach $names as $name}
                                <option value="{$name.id}" {$Think.get.name_id==$name.id ? 'selected' :''}>{$name.data}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">进货渠道</label>
                        <div class="layui-input-inline">
                            <select id="income_channel_id" class="" name="income_channel_id" lay-filter="income_channel_id">
                                <option value="0"> -  - </option>
                                {foreach $income_channels as $channel}
                                <option value="{$channel.id}" {$Think.get.income_channel_id==$channel.id ? 'selected' :''}>{$channel.data}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">进货人</label>
                        <div class="layui-input-inline">
                            <select id="create_user_id" class="" name="create_user_id" lay-filter="create_user_id">
                                <option value="0"> -  - </option>
                                {foreach $create_users as $createUser}
                                <option value="{$createUser.id}" {$Think.get.create_user_id==$createUser.id ? 'selected' :''}>{$createUser.username}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">出货途径</label>
                        <div class="layui-input-inline">
                            <select id="outgo_channel_id" class="" name="outgo_channel_id" lay-filter="outgo_channel_id">
                                <option value="0"> -  - </option>
                                {foreach $outgo_channels as $channel}
                                <option value="{$channel.id}" {$Think.get.outgo_channel_id==$channel.id ? 'selected' :''}>{$channel.data}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" name="sub" value="search">搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" name="sub" value="excel">导出excel</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">筛选结果</div>
          <div class="layui-card-body" style="height: 600px;">
            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-heaparea">

                <p>进货总数量：{$income_count}</p>
                <p>进货总价格：{$income_price}</p>
                <p>平均进货价格：{$ave_income_price}</p>
                <p>销售总数量：{$outgo_count}</p>
                <p>平均销售价格：{$ave_outgo_price}</p>
                <p>总利润：{$profit}</p>
                <p>平均利润：{$ave_profit}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
    layui.use(['laydate', 'form', 'layer'], function () {
        var laydate = layui.laydate;
        $ = layui.jquery;
        var form = layui.form,
        layer = layui.layer;

        //执行一个laydate实例
        laydate.render({
          elem: '#start_date' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end_date' //指定元素
        });
        //监听搜索
        form.on('submit(filter-search)', function(data){
            var field = data.field;console.log(field)


        });
    })
</script>


