

{$message}
<div class="row">

    <div class="">
        <div class="span12 listing-buttons">

            <!--<button class="btn btn-info">Action</button>-->

            <!--<button class="btn btn-success">Action</button>-->

            <button class="btn btn-primary" id='add' data-toggle="modal" href="#addItem" >录入</button>

        </div>

        <div class="span12">

            <!--<div class="page-header">-->
            <!--<div class="btn-group pull-right">-->
            <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="icon-download-alt"></i> Export-->
            <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="">CSV</a></li>-->
            <!--<li><a href="">Excel</a></li>-->
            <!--<li><a href="">PDF</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<h2>Listings</h2>-->
            <!--</div>-->
            <h4 class="span12">总条数：{$lists->total()}</h4>
            <table class="orders-table table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>类别</th>
                    <th>名称</th>
                    <th>网络模式</th>
                    <th>型号</th>
                    <th>配置</th>
                    <th>外观</th>
                    <th>识别码值</th>
                    <th class="actions">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-info">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-warning">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-important">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-inverse">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label label-success">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><a href="form.html">Listing title</a> <span class="label">Item Status</span><br /><span class="meta">Added Today</span></td>-->
                <!--<td class="actions">-->
                <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">Remove</a>-->
                <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                <!--</td>-->
                <!--</tr>-->

                {volist name='lists' id='temp'}
                <tr>
                    <td><span>{$temp.id}</span></td>
                    <td><span>{$temp.itemType.category.data}</span></td>
                    <td><span>{$temp.itemType.itemName.data}</span></td>
                    <td><span>{$temp.itemType.itemNetwork.data}</span></td>
                    <td><span>{$temp.itemType.data}</span></td>
                    <td><span>{$temp.itemFeature.data}</span></td>
                    <td><span>{$temp.itemAppearance.data}</span></td>
                    <td><span>{$temp.data}</span></td>
                    <td class="actions">
                        <!--<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>-->
                        <!--<a class="btn btn-small btn-primary" href="form.html">Edit</a>-->
                        {if $temp.status == 1}
                        <a class="btn btn-small btn-danger del-item" data-id="{$temp.id}" data-href="{:url('delIntelligence')}">停用</a>
                        {else /}
                        <a class="btn btn-small btn-success del-item" data-id="{$temp.id}" data-href="{:url('openIntelligence')}">启用</a>
                        {/if}
                        <button class="btn btn-info edit"  data-toggle="modal" href="#addItem" data-id="{$temp.id}" data-name_id="{$temp.itemType.name_id}" data-type_id="{$temp.type_id}" data-feature_id="{$temp.feature_id}" data-appearance_id="{$temp.appearance_id}" data-data="{$temp.data}">修改</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            {$lists->render()}
        </div>
    </div>

    <div class="modal hide fade" id="addItem">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>录入</h3>
        </div>
        <form class="form-horizontal" method="post" id="form" data-action="{:url('addIntelligence')}">
            <fieldset>
                <input type="hidden" name="id" id="id"/>
                <div class="modal-body control-group">
                    <label class="control-label" for="data">名称</label>
                    <div class="controls">
                        <select id="name_id" class="input-xlarge" name="name_id">
                            {foreach $names as $category}
                            <optgroup label="{$category.category.data}">
                                {foreach $category.lists as $name}
                                <option value="{$name.id}" data-type="
                                    {foreach $name.itemType as $type}
                                        <option value='{$type.id}'>{$type.data}</option>
                                    {/foreach}" data-feature="
                                    {foreach $name.itemFeature as $feature}
                                        <option value='{$feature.id}'>{$feature.data}</option>
                                    {/foreach}" data-appearance="
                                    {foreach $name.itemAppearance as $appearance}
                                        <option value='{$appearance.id}'>{$appearance.data}</option>
                                    {/foreach}"
                                >{$name.data}</option>
                                {/foreach}
                            </optgroup>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="modal-body control-group">
                    <label class="control-label" for="type">型号</label>
                    <div class="controls">
                        <select id="type_id" class="input-xlarge" name="type_id">
                        </select>
                    </div>
                </div>
                <div class="modal-body control-group">
                    <label class="control-label" for="feature">配置</label>
                    <div class="controls">
                        <select id="feature_id" class="input-xlarge" name="feature_id">
                        </select>
                    </div>
                </div>
                <div class="modal-body control-group">
                    <label class="control-label" for="appearance">外观</label>
                    <div class="controls">
                        <select id="appearance_id" class="input-xlarge" name="appearance_id">
                        </select>
                    </div>
                </div>
                <div class="modal-body control-group">
                    <label class="control-label" for="data">标识码</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="data"  name="data" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">关闭</a>
                    <button class="btn btn-success" type="button" id="submit">确定</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!--<div class="span5">-->

    <!--<div class="pagination pull-left">-->
    <!--<ul>-->
    <!--<li><a href="#">Prev</a></li>-->
    <!--<li class="active">-->
    <!--<a href="#">1</a>-->
    <!--</li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">Next</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="span5 listing-buttons pull-right">-->

    <!--<button class="btn btn-info">Action</button>-->

    <!--<button class="btn btn-success">Action</button>-->

    <!--<button class="btn btn-primary">Add New Item</button>-->

    <!--</div>-->

</div>
<script src="/static//js/jquery.min.js"></script>
<script>
    function changeNameSelected(){

        var str1 = $("#name_id option:selected").data("type");
        $("#type_id").html(str1)
        var str2 = $("#name_id option:selected").data("feature");
        $("#feature_id").html(str2)
        var str3 = $("#name_id option:selected").data("appearance");
        $("#appearance_id").html(str3)
    }

    $(function(){

        changeNameSelected();
        $("#name_id").change(function () {
            changeNameSelected();
        });

        $("#submit").click(function(){
            var url = $("#form").data('action');
            var data = $('#form').serialize();
            $.post(url, data, function (res) {console.log(res)
                alert(res.data);
                window.location.replace("<?php echo url('intelligence');?>");
            })
        });

        $(".del-item").click(function(){
            var url = $(this).data('href');
            var id = $(this).data('id');
            $.post(url, {id:id}, function (res) {
                alert(res.data);
                window.location.replace("<?php echo url('intelligence');?>");
            })
        });

        $(".edit").click(function(){
            var id = $(this).data('id');
            var name_id = $(this).data('name_id');
            var type_id = $(this).data('type_id');
            var feature_id = $(this).data('feature_id');
            var appearance_id = $(this).data('appearance_id');
            var data = $(this).data('data');

            $("#id").val(id);
            $('#data').val(data);
            $('#name_id option').each(function(k, v) {
                if ($(v).val() == name_id) {
                    $(v).prop('selected', true)
                }
            });

            changeNameSelected();
            $('#type_id option').each(function(k, v) {
                if ($(v).val() == type_id) {
                    $(v).prop('selected', true)
                }
            });
            $('#feature_id option').each(function(k, v) {
                if ($(v).val() == feature_id) {
                    $(v).prop('selected', true)
                }
            });
            $('#appearance_id option').each(function(k, v) {
                if ($(v).val() == appearance_id) {
                    $(v).prop('selected', true)
                }
            });
        });

        $("#add").click(function(){

            $("#id").val('');
            $('#data').val('');
            $('#name_id option').each(function(k, v) {
                $(v).prop('selected', false)
            });
        });

    })
</script>