<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input class="layui-input" placeholder="进货日期" name="date" type="text" id="date"
                     autocomplete="off">
                </div>
                <div class="layui-inline">
                    <select id="name_id" name="name_id" lay-filter="name_id"
                        data-href="{:url('/index/item/changeName')}">
                        <option value=""> - 名称 - </option>
                        {foreach $names as $name}
                        <option value="{$name.data}" {$Think.get.name_id==$name.data ? 'selected' :''}>{$name.data}
                        </option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-inline">
                    <select name="channel_id">
                        <option value=""> - 进货渠道 - </option>
                        {foreach $channels as $channel}
                        <option value="{$channel.data}" {$Think.get.channel_id==$channel.data ? 'selected' :''}>{$channel.data}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="keyword" placeholder="序列号" value="{$Think.get.keyword}" autocomplete="off"
                        class="layui-input">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="filter-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- 表格 -->
        <div class="layui-card-body">
            <table id="table-list" lay-filter="table-list"></table>
            <!-- <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
              </script> -->
        </div>
    </div>
</div>
<script>
    layui.use(['laydate', 'index', 'contlist', 'table', 'jquery'], function () {
        var table = layui.table
        var form = layui.form
        var jquery = layui.jquery
        var $ = layui.jquery
        var laydate = layui.laydate

        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
        });

        table.render({
            elem: '#table-list'
            , url: '/index/setting/specialEditItemLists' //数据接口
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }, page: true //开启分页
            , cols: [[ //表头
                { field: 'id', title: 'ID', minWidth: 60, sort: true, fixed: 'left' }
                , { field: 'statusName', title: '审核状态', minWidth: 60, sort: true, fixed: 'left' }
                , {
                    field: 'itemName', title: '名称', minWidth: 120, templet: function (d) {
                        if (d.itemName != null) { return d.itemName.data } else { return '' }
                    }
                }
                , {
                    field: 'itemNetwork', title: '网络模式', minWidth: 120, templet: function (d) {
                        if (d.itemNetwork != null) { return d.itemNetwork.data } else { return '' }
                    }
                }
                , {
                    field: 'itemFeature', title: '配置', minWidth: 120, templet: function (d) {
                        if (d.itemFeature != null) { return d.itemFeature.data } else { return '' }
                    }
                }
                , {
                    field: 'itemAppearance', title: '外观', minWidth: 120, templet: function (d) {
                        if (d.itemAppearance != null) { return d.itemAppearance.data } else { return '' }
                    }
                }
                , {
                    field: 'number', title: '序列号', minWidth: 150, templet: function (d) {
                        return '<a lay-text="综合查询" target="_blank" href="https://checkcoverage.apple.com/cn/zh/?sn=' + d.number + '"><span style="color:coral;cursor: pointer;">' + d.number + '</span></a>';
                    }
                }
                , {
                    field: 'itemEdition', title: '版本', minWidth: 120, templet: function (d) {
                        if (d.itemEdition != null) { return d.itemEdition.data } else { return '' }
                    }
                }
                , {
                    field: 'price', title: '进价', minWidth: 120, sort: true, templet: function (d) {
                        return (d.price * 1).toFixed(2);
                    }
                }
                , {
                    field: 'itemChannel', title: '进货渠道', minWidth: 120, sort: true, templet: function (d) {
                        if (d.itemChannel != null) { return d.itemChannel.data } else { return '' }
                    }
                }
                , {
                    field: 'create_time', title: '入库时间', minWidth: 120, sort: true
                }
                , {
                    fixed: 'right', title: '操作', minWidth: 120, sort: true, templet: function (d) {
                        return '<a class="layui-btn-sm layui-btn layui-btn-normal" onclick="edit(this,' + d.id + ')" data-href="/index/item/addincome?is_special=1&id=' + d.id + '" >修改</a>';
                    }
                }
            ]]
        });

        //监听搜索
        form.on('submit(filter-search)', function (data) {
            var field = data.field; console.log()
            //执行重载
            table.reload('table-list', {
                where: field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        layui.$('.layui-btn.layuiadmin-btn-list').on('click', function () {
            var type = layui.$(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });


    //修改
    function edit(obj, id) {
        layer.open({
            type: 2
            , title: '修改'
            , content: [layui.$(obj).data('href'), 'no']
            , maxmin: true
            , area: ['90%', '90%']
        });
    }

</script>