<!--<div class="alert alert-info">-->
    <!--<a class="close" data-dismiss="alert" href="#">x</a>-->
    <!--<h4 class="alert-heading">Information</h4>-->
    <!--This template shows how forms can be laid out for editing content.-->
<!--</div>-->

<!--<div class="alert alert-error">-->
    <!--<a class="close" data-dismiss="alert" href="#">x</a>-->
    <!--<h4 class="alert-heading">Error</h4>-->
    <!--Example of an error message alert.-->
<!--</div>-->

<!--<div class="alert alert-success">-->
    <!--<a class="close" data-dismiss="alert" href="#">x</a>-->
    <!--<h4 class="alert-heading">Success</h4>-->
    <!--Example of an success message alert.-->
<!--</div>-->

<!--<div class="alert alert-warning">-->
    <!--<a class="close" data-dismiss="alert" href="#">x</a>-->
    <!--<h4 class="alert-heading">Warning</h4>-->
    <!--Example of an warning message alert.-->
<!--</div>-->

{$message}
<div class="row">
    <div class="span12">
        <div class="">
            <div class="page-header">
                <h2>添加账号</h2>
            </div>
            <form class="form-horizontal" method="post" id="form">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">账号名</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name"  name="name" value="{$name}">
                            <p class="help-block">.</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="pwd_1">账号密码</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="pwd_1" name="pwd_1" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pwd_2">确认账号密码</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="pwd_2" name="pwd_2" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="submit"></label>
                        <button class="btn btn-success" type="submit" id="submit">确定</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>